.direction1 {
  color: blue;
}

.complement {
  color: red;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

.card {
  margin-bottom: 8px;
  width: 100%;
}

.img {
  max-width: 100%;
  /* max-height: 30vh; */
}

.submit-button {
  margin-left: 10px;
}

.input {
  margin: 5px;
}
