.sidenav-container {
  height: 100%;
  position: fixed;
  top:64px;
  width: 100%;
}

.sidenav {
  width: 200px;
  position: absolute;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.list {
  white-space: nowrap;
}
